extends ../_base.pug
block pageInfo
    -
        var title = '課題１';
        var description = '';
        var ogpimg = '';
        var date = '';
        var url = '';
        var siteName = '';
        var keywords = '';
block meta
    link(rel="stylesheet", href="../assets/css/style.css")
block body 
    #webgl
    script(src='../assets/js/kadai1.js', type="module")