extends _base.pug
block pageInfo
    -
        var title = 'タイトル';
        var description = 'ページの説明文';
        var ogpimg = 'OGP画像のURL';
        var date = '2017/12/8';
        var url = 'URL';
        var siteName = 'サイトタイトル';
        var keywords = 'test, test, test';
block meta
    link(rel="stylesheet", href="assets/css/style.css")
block body 
    h1 titleeee
    h2 test
    script(src='assets/js/index.js')